#clase{
    background:url(fonndo.png); 
    background-size:cover;
    background-attachment: fixed;
}
#flex{
    display: flex;
    justify-content:flex-end;
    background: rgb(148, 139, 139);
    margin-bottom: 95px;
}
#opciones{
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
    color: white;
}
#opciones:hover{
    background: rgba(255, 255, 0, 0.685);
}

#descripcion{
    color: rgb(54, 52, 52);
    background: rgb(209, 201, 201);
    padding: 15px;
    font-size: 20px;
    margin: 70px;
    /* display: flex; */
    border: 5px solid gray;
    border-radius: 15px ;
    /* justify-content: left; */
    /* margin: 0 auto; */
    width: 500px;
    height: 150px;
}
#registro{
    border: 1px solid wheat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.contenedor{
    width: 370px;
    padding: 15px;
}
.formulario{
    width: 400px;
    background: #fff;
    /* margin-top: 150px; */
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"], input[type="password"]{
    font-size: 20px;
    width: 330px;
    padding:0px 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 10px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 370px;
    color: wheat;
    font-size: 20px;
    background-color: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}
.link:hover{
    color: cadetblue;
}
#registro{
    display: flex;
    justify-content: flex-end;
}

.esflex{
    display: flex;
    justify-content: space-around;
}






